@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*Se establecen variables*/
:root{
    --Fuente-Inter: "Inter", sans-serif;
    --Color-Azul-oscuro: #0A3871;
    --Color-blanco-grisaseo: #D8DFE8;
    --Color-Azul-claro: #F3F5FC;
    --Color-Blanco: #ffffff;
    --Color-Gris: #343A40;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Color del fondo de pagina*/
.pagina{
    background-color: var(--Color-Azul-claro);
}

/*Estelizacion de imagenes*/
.logo_de_alura{
    width: 120px;
    height: 48px;
    margin-top: 40px;
    margin-left: 40px;
}

.Chica_mirando_diamante{
    width: 336px;
    height: 304px;
    margin-top: 283px;
    margin-left: 1032px;
    position: relative;
    left: -405px; /* Ajusta el valor según sea necesario */
    margin: 0;
}

/*Estelizacion de los cuadros entrada y salida de texto*/
.entrada_y_salida_de_texto{
    display: flex;
    align-items: center;
    gap: 40px;
}
.texto_entrada{
    width: 577px;
    height: 1000px;
    margin-top: 168px;
    margin-left: 240px;
    font-family: var(--Fuente-Inter);
    font-size: 32px;
    background-color: transparent;
    border: none;
    resize: none;
}

.texto_salida{
    width: 400px;
    height: 944px;
    margin-top: 40px;
    margin-left: 1000px;
    border-radius: 32px;
    resize: none;
}

input::placeholder,
textarea::placeholder {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;

}